#include "windows.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)

1 VERSIONINFO
 FILEVERSION 1,1,2011,403
 PRODUCTVERSION 1,1,2011,403
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904b0"
  {
   VALUE "CompanyName", "haftmann#software\0"
   VALUE "FileDescription", "Discolitez Plugin for a USB->Printer converter\0"
   VALUE "FileVersion", "1.01 (04/11)\0"
   VALUE "InternalName", "DLO_UsbPrn\0"
   VALUE "OriginalFilename", "DLO_UsbPrn.dll\0"
   VALUE "ProductName", "www.tu-chemnitz.de/~heha\0"
   VALUE "ProductVersion", "1.01 (04/11)\0"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x409, 1200
 }
}

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

100 DIALOG DISCARDABLE	0, 0, 216, 89
STYLE DS_MODALFRAME|DS_NOIDLEMSG|DS_NOFAILCREATE|DS_CENTER|WS_POPUP|WS_CAPTION|WS_SYSMENU
CAPTION "Configuration of USB->Printer plugin"
FONT 8, "MS Sans Serif"
{
 CTEXT		"This plugin is for controlling eight digital light channels via a regular and cheap USB->Printer converter using simple glue logic.\nFreeware, open-source, Henrik Haftmann, Chemnitz, 110403",-1,4,3,208,31,SS_NOPREFIX
 DEFPUSHBUTTON	"OK",IDOK,84,36,50,14
 CONTROL	"Handle to USB->Printer currently available",11,"Button",BS_AUTORADIOBUTTON|WS_DISABLED,32,58,148,10
 RTEXT		"&Number (0-based):",-1,8,73,66,8
 EDITTEXT	12,78,70,24,14,ES_CENTER|ES_AUTOHSCROLL|ES_NUMBER
 PUSHBUTTON	"&re-open USB->Printer device",10,110,70,96,14
}

